<div class="container">
    <div class="row mt-4">
        <div class="search">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Search here</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <h2 style="color: #3b033d;; float: left; margin-top: 3rem;"> Policy Details</h2>
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr class="table-secondary" style="font-weight: bold;">
                        <th>ID</th>
                        <th>Pro. Code</th>
                        <th>Topic</th>
                        <th>Requester</th>
                        <th>Approver</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>
        </div>
    </div>
</div>