<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-1 col-xs-1">
            <mat-form-field appearance="fill">
                <mat-label>Select Region</mat-label>
                <mat-select [(value)]="defaultSelectedRegion" (selectionChange)="onRegionChange($event)">
                    <mat-option *ngFor="let region of regions" [value]="region.name">
                        {{region.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <google-chart [type]="myType" [options]="options" [data]="barData" *ngIf="barData.length>0"></google-chart>
    </div>

</div>